<% provide(:title, "Contact") %>

<h1>Contact</h1>
<p>
	To contact the owner of this application Click on <a href="http://i.imgur.com/VBKfM.jpg">Contact</a>.
</p>
<p>
	To learn Ruby on Rails and created the similar and better application Go To <a href="http://www.railstutorial.org/"><em>Ruby on Rails
Tutorial</em></a>
</p>