<div class="center jumbotron">
	<h1>Sample App</h1>

    <h2>
	  This is the home page of the
	  <a href="http://www.railstutorials.org/">Ruby on Rails</a>
	  sample application.
    </h2>

    <h3>This is a Sample/Example application created While learning Ruby on Rail. You can also learn to create the similar and better application. To start learning head over to <a href="http://www.railstutorial.org">Ruby on Rails Tutorials</a> This tutorial is good for beginners it also includes <a href="http://www.railstutorial.org/book">Books</a> and <a href="http://screencasts.railstutorial.org/">Screencasts series</a>,etc.</h3>

    <p>
    	The Tutorial is By <a href="http://www.michaelhartl.com/">Micheal hartl.</a>
    </p>

    <p>
    	Application created by <a href="http://i.imgur.com/0lYBUoc.jpg">Ligtning</a> (Student of ROR tutorial)
    </p>


<%= link_to image_tag("rails.png", alt: "Rails logo"), 'http://http://rubyonrails.org/' %>
