<footer class="footer">
	<small>
		The <a href="http://www.railstutorial.org">Ruby on Rails Sample app</a>
		created by <a href="http://i.imgur.com/0lYBUoc.jpg">Lightning</a>
	</small>
	<nav>
		<ul>
			<li><%= link_to "About", about_path %></li>
			<li><%= link_to "Contact", contact_path %></li>
            <li><a href="https://www.google.com/search?hl=en&gl=us&tbm=nws&authuser=0&q=ruby+on+rails&oq=ruby+on+rails&gs_l=news-cc.3..43j0l4j43i53.2993.6898.0.7076.17.8.2.7.7.0.123.722.7j1.8.0...0.0...1ac.1.aFlvVTcaEdc">News</a>
            </li>
		</ul>
	</nav>
</footer>